mcp_service/.env
mcp_service/cmd/temp/
mcp_service/pkg/.DS_Store
.env
badger.db/
env/
agent_service/.venv
agent_service/__pycache__
agent_service/.python-version
agent_service/routers/__pycache__
agent_service/services/__pycache__
